<h1><%= t('view.index') %></h1>
<div>
  <table>
    <tr>
      <th><%= t('view.task_name') %></th>
      <th><%= t('view.content') %></th>
    </tr>

  <% @tasks.each do |task| %>
    <tr class="task_list">
      <td><%= task.name %></td>
      <td><%= task.content %></td>

      <td><%= link_to t('view.detail'), task_path(task.id) %></td>
      <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
      <td><%= link_to t('view.destroy'), task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
  <% end %>
  </table>
</div>

<%= link_to t('view.new_task'), new_task_path %>