<h1><%= t('view.index') %></h1>
<div class="searchbox">
  <%= form_with scope: :task, url: tasks_path, local: true, method: :get do |f| %>
  <%= f.text_field :name, placeholder: "検索したい内容を記入してください。" %>
  <%#= f.text_field :status, placeholder: "検索したいステータスを選んで下さい。" %>
  <%= f.select :status, [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]], include_blank: "選択して下さい" %>
  <%= f.submit "検索", class: "btn" %>
  <% end %>
</div>
<div class="label_searchbox">
<%= form_for @task, method: :get do |f| %>
  <%= f.select :id, Label.all.collect { |label| [ label.name, label.id ] }, include_blank: true %>
  <%= f.submit "検索", class: "btn" %>
<% end %>


<div>
  
  <table>
    <tr>
      <th><%= t('view.task_name') %></th>
      <th><%= t('view.content') %></th>
      <th><%= t('view.timelimit') %></th>
      <th><%= t('view.status') %></th>
      <th><%= t('view.rank') %></th>
      <th>投稿者</th>

    </tr>

  <% @tasks.each do |task| %>
    <tr class="task_list">
      <td><%= task.name %></td>
      <td><%= task.content %></td>
      <td><%= task.timelimit %></td>
      <td><%= task.status %></td>
      <td><%= task.rank %></td>
      <td><%= task.user.name %></td>

      <td><%= link_to t('view.detail'), task_path(task.id), class: "btn btn-primary" %></td>
      <td><%= link_to t('view.edit'), edit_task_path(task.id), class: "btn btn-success " %></td>
      <td><%= link_to t('view.destroy'), task_path(task.id), class: "btn btn-warning", method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
      
    </tr>
  <% end %>
  </table>
</div>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %><br>
<%= link_to "優先順位でソートする", tasks_path(sort_rank: "true") %><br>
<%= link_to t('view.new_task'), new_task_path %><br>
<%= link_to t('view.index'),tasks_path %><br>
<%= paginate @tasks %>